<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Jamaica Observer</title>
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

    @Styles.Render("~/bundles/css")

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
</head>
<body>
    <!-- ======= Header ======= -->
    <header id="header" class="fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center">

            <div class="logo me-auto">
                @*<h1><a href="index.html">Scaffold</a></h1>*@
                <!-- Uncomment below if you prefer to use an image logo -->
                <a href="@Url.Action("index", "home")"><img src="@Url.Content("~/assets/img/epaper-jol-logo.png")" alt="" class="img-fluid"></a>
            </div>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li>@Html.ActionLink("Home", "index", "home")</li>
                    <li><a class="nav-link scrollto " href="/#features">Features</a></li>
                    <li><a class="nav-link scrollto" href="/#pricing">Pricing</a></li>
                    <li><a class="nav-link scrollto" href="/#cta">Download</a></li>
                    <li><a class="nav-link scrollto" href="/#faq">FAQ</a></li>
                    <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>

                    <li class="dropdown">
                        <a href="#"><span>My Account</span> <i class="bi bi-chevron-down"></i></a>
                        <ul>
                            <li><a class="nav-link scrollto" href="#about">Dashboard</a></li>
                            <li><a class="nav-link scrollto" href="#team">Change Password</a></li>
                            <li><a class="nav-link scrollto" href="#team">Update Profile</a></li>
                            <li><a class="nav-link scrollto" href="#testimonials">Request Refund</a></li>
                            <li><a class="nav-link scrollto" href="#testimonials">Logout</a></li>

                        </ul>
                    </li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

            <div class="d-flex m-3 text-center">
                <a href="#" class="btn-sign-in" data-bs-toggle="modal" data-bs-target="#login-modal">Sign In</a>
            </div>

        </div>
    </header><!-- End Header -->


    @RenderBody()

    <div class="modal fade" id="login-modal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content loginmodal-container">
                <h1>Login to Your Account</h1><br>
                <form>
                    <input type="text" name="email" placeholder="Email">
                    <input type="password" name="pass" placeholder="Password">
                    <input type="submit" name="login" class="login loginmodal-submit" value="Login">
                </form>

                <div class="login-help">
                    <a href="#">Forgot Password?</a>
                </div>
            </div>
        </div>
    </div>



    <!-- ======= Footer ======= -->
    <footer id="footer">
        <div class="footer-top">
            <div class="container">
                <div class="row">

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-info">
                            <a href="https://wwww.jamaicaobserver.com/"><img src="@Url.Content("~/assets/img/jol-logo-sm.png")" alt="" width="235" class="img-fluid"></a>

                            <p>
                                40-42 1/2 Beechwood Avenue <br>
                                Kingston 5, USA<br>
                                Jamaica, W.I.<br><br>
                                <strong>Phone:</strong> +1 876 926-7655<br>
                                <strong>Email:</strong> userhelp@jamaicaobserver.com<br>
                            </p>
                            <div class="social-links mt-3">
                                <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                                <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                                <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                                <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                                <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-2 col-md-6 footer-links">
                        <h4>Useful Links</h4>
                        <ul>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">About us</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Service Level Agreement</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Terms of service</a></li>
                            <li><i class="bx bx-chevron-right"></i> <a href="#">Privacy policy</a></li>
                        </ul>
                    </div>

                    <div class="col-lg-4 col-md-6 footer-newsletter">
                        <h4>Our Newsletter</h4>
                        <p>Subscribe to our newsletter to get the latest updates</p>
                        <form action="" method="post">
                            <input type="email" name="email"><input type="submit" value="Subscribe">
                        </form>

                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="footer-info text-center pt-3">

                            @*<div class="social-links mt-3">*@
                            <a href="#"><img src="@Url.Content("~/assets/img/visa.png")" alt="" class="img-fluid"></a> &middot;
                            <a href="#"><img src="@Url.Content("~/assets/img/master.png")" alt="" class="img-fluid"></a>
                            <a href="#"><img src="@Url.Content("~/assets/img/fac.jpg")" alt="" class="img-fluid" width="135"></a>

                            @*</div>*@
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="container">
            <div class="copyright">
                &copy; Copyright @DateTime.Now.Year <br><strong><span>Jamaica Observer Limited</span></strong>. All Rights Reserved
            </div>

        </div>
    </footer><!-- End Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/js")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (() => {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })();

    </script>
    <script>
        // extend range validator method to treat checkboxes differently
        var defaultRangeValidator = $.validator.methods.range;
        $.validator.methods.range = function (value, element, param) {
            if (element.type === 'checkbox') {
                // if it's a checkbox return true if it is checked
                return element.checked;
            } else {
                // otherwise run the default validation function
                return defaultRangeValidator.call(this, value, element, param);
            }
        }
    </script>

</body>
</html>
