@model IEnumerable<ePaperWeb.DBModel.printandsubrate>

<p>
    @Html.ActionLink("Create New", "Create")

    @using (Html.BeginForm("RatesList", "Account", FormMethod.Get))
    {

        @Html.RadioButton("rateType", "Epaper", htmlAttributes: new { @class = "btn-check", @autocomplete = "off", @id = "ePaper" })<label class="btn btn-secondary" for="ePaper">ePaper</label>
        @Html.RadioButton("rateType", "Print", htmlAttributes: new { @class = "btn-check", @autocomplete = "off", @id = "Print" })<label class="btn btn-secondary" for="Print">Prnit</label>
        @Html.RadioButton("rateType", "Bundle", htmlAttributes: new { @class = "btn-check", @autocomplete = "off", @id = "Bundle" })<label class="btn btn-secondary" for="Bundle">Bundle</label>
        <input type="submit" value="Get" />
    }
</p>

@foreach (var plans in Model)
{
    @Html.RadioButtonFor(model => model.rateID, plans.rateid)
    @(" " + plans.RateDescr + " | " + plans.Type + " (" + plans.Market + ") [" + plans.ETerm + " " + plans.ETermUnit + "][" + plans.PrintTerm + " " + plans.PrintTermUnit + "] : $" + plans.Rate)
    <br />
}
