@model ePaperWeb.Models.AddressDetails

@{
    ViewBag.Title = "AddressDetails";
}

    <main id="main">

        <!-- ======= Breadcrumbs ======= -->
        <section id="breadcrumbs" class="breadcrumbs">
            <div class="container">

                <ol>
                    <li><a href="@Url.Action("index", "home")">Home</a></li>
                    <li>@ViewData["Title"]</li>
                </ol>
                <h2>@ViewData["Title"]</h2>

            </div>
        </section><!-- End Breadcrumbs -->
        <!-- ======= Wizard Breadcrumbs ======= -->
        <div class="container form-header d-flex mb-4 mt-4">
            <span class="stepIndicator active">Login Details</span>
            <span class="stepIndicator active">Mailing Address</span>
            <span class="stepIndicator">Subscription</span>
            <span class="stepIndicator">Payment</span>
        </div><!-- End Wizard Breadcrumbs -->
        <!-- ======= Wizard Section ======= -->
        <section id="portfolio-details" class="portfolio-details">
            <div class="container">

                <div class="row gy-4">
                    <div class="col-lg-8">
                        <!-- start:wizrd -->
                        @using (Html.BeginForm("AddressDetails", "Account", FormMethod.Post))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">
                                <h4>AddressDetails</h4>
                                <hr />
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.addressLine1, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.addressLine1, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.addressLine1, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.addressLine2, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.addressLine2, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.addressLine2, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.cityTown, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.cityTown, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.cityTown, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.stateParish, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.stateParish, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.stateParish, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.zipCode, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.zipCode, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.zipCode, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.country, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.country, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.country, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.phone, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10 pt-3">
                                        <div class="row">
                                            <div class="col-6">
                                                <input type="submit" value="Prev" name="prevBtn" class="btn btn-outline-primary bx-pull-left" />
                                            </div>
                                            <div class="col-6">
                                                <input type="submit" value="Next" name="nextBtn" class="btn btn-outline-primary bx-pull-right" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                        <!-- end:wizrd -->
                    </div>
                    <div class="col-lg-4">
                        @Html.Partial("_SubcriptionSummary")
                    </div>





                </div>

            </div>
        </section><!-- End Wizard Section -->

    </main><!-- End #main -->
